/* About Section */
.about {
    padding: 3.5rem 1rem;
    text-align: center;    
}

.aboutContainer {
    max-width: 900px;
    margin: 0 auto;
}

h2 {
    font-size: 2rem;
    text-align: center;
}

.aboutContainer h2 {
    margin-bottom: 1.5rem;
}

.aboutCard h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.aboutCard p {
    font-size: 1rem;
    line-height: 1.6;
}

#aboutIntro {
    font-size: 1rem;
    margin-bottom: 30px;
}

.aboutContent {
    display: flex;
    justify-content: space-around; /*Fördelar korten jämnt*/
    flex-wrap: wrap; /*Radbrytning*/
    gap: 3rem;
}

.aboutCard {
    flex: 1; /*Alla tar upp lika mycket utrymme*/
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    background-color: #131842;
}

/* Reviews QuickNav Section */
.reviewsQuickNavContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 2rem;
    padding: 3.5rem 1rem;
    max-width: 1500px;
    margin: 0 auto;
}

.reviewCard {
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    background-color: #131842;
}

.reviewCard h3 {
    font-size: clamp(1.2rem, 2vwm 1.5rem);
    margin-bottom: 0.75rem;
    min-height: 3rem;
    max-height: 3rem;
}

.reviewCard img {
    max-width: 100%;
    border-radius: 10px;
}

.reviewCard button {
    font-size: clamp(1.2rem, 2vwm 1.5rem);
    padding: 1rem;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #20133F;
    color: #EAD8B1;
    width: 80%;
}

button a {
    text-decoration: none;
    color: #EAD8B1;
    font-size: 1rem;
    line-height: 1.6;
    letter-spacing: 2px;
    padding: 1rem;
}

button:hover {
    background-color: #2A0F30;
}


/*Media Query för mindre skärmar*/
@media (max-width: 768px) {
    .aboutContent {
        flex-direction: column;
        gap: 2rem;
    }

    .reviewsQuickNavContainer {
        grid-template-columns: 1fr;
        
    }

    .reviewCard h3 {
        font-size: 1.6rem;
    }
}