/* Main Content */
.reviewsContainer {
    padding: 2rem 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Fyller ut större skärmar men håller sig till 300px per reviewCard */
    gap: 2rem;
    background-color: #20133F;
}

.reviewCard {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between; 
    background-color: #131842;
    border-radius: 10px;
}

.reviewCard img {
    max-width: 100%;
    border-radius: 10px;
}

.reviewCard a {
    color: #EAD8B1;
    margin-top: 0.5rem;
    font-size: clamp(1rem, 2vw, 1.2rem);
    font-weight: bold;
    text-decoration: none;
}

.reviewCard a img:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1.5px solid #EAD8B1;
}

.reviewCard h2 {
    font-size: 1.3rem;
    margin-top: 1rem;
}

/* Responsiv Design för mellanstora skärmar */
@media (min-width: 481px) and (max-width: 768px) {
    .reviewsContainer {
        grid-template-columns: repeat(2, 1fr; /* Två kolumner */
    }
}

/* Responsiv Design för små skärmar */
@media (max-width: 480px) {
    .reviewsContainer {
        grid-template-columns: 1fr; /* En kolumn */
    }
}