body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #EAD8B1; 
}

main {
    background-color: #20133F;
}


/* Hero Section */
.hero {
    background-image: url(images/notbladetguitar.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 45vh; /* 40% av fönstret */
    display: flex; 
    flex-direction: column;
    justify-content: center; /*justify-content och align-items båda center får att innehållet i mitten av sektionen*/
    align-items: center;
    text-align: center;
    position: relative; /*För overlay positionering nedan*/
}

.overlay { /*Har overlay för att kunna få bilden att passa in bättre*/
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(19, 24, 66, 0.5); /* Gör backgrundsbilden lite blåare för att matcha resten av sidan */
}

.heroContent {
    position: relative;
    max-width: 700px;
}

h1 {
    font-size: 60px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    line-height: 1.2;
}

.heroContent p{
    font-size: 25px;
    margin-bottom: 30px;
}


/* Navbar */
.navbar {
    margin: 0 auto;
    border-top: 1px solid;
}

.navlinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}    

.navlinks li {
    margin: 0 1.5rem;
}

.navlinks li a {
    text-decoration: none;
    color: #EAD8B1;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: clamp(1.1rem, 2vw, 1.3rem)
}

.navlinks li a:hover {
    color: #eead6c;
}

.navIcon {
    display: none;
}

footer {
    text-align: center;
    padding: 2rem 0;
    margin-top: auto;
    width: 100%;
    background-color: #131842;
}

footer p {
    margin-bottom: 0.5rem;
}

@media (max-width: 481px) {
    .navlinks {
        margin-top: 0.5rem;
    }

    .navText {
        display: none;
    }

    .navIcon {
        display: inline-block;
    }

    #iconHome {
        font-size: 2rem;
    }

    #iconReviews {
        margin-top: 12px;
    }
}

