.reviewContainer {
  padding: 4rem 2rem; 
  max-width: 1200px; 
  margin: 0 auto;
}

.reviewCard {
    padding: 1rem;
    background-color: #131842;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    height: 100%;
}

.reviewCard h2 {
    font-size: clamp(1.6rem, 2vw, 2rem);
    margin: 1rem 1rem;
    min-height: 3rem;
    max-height: 3rem;
}

.reviewCard img {
    max-width: 100%;
    border-radius: 1rem;
}

.reviewCard p {
    font-size: clamp(1.1rem, 2vw, 1.3rem);
    line-height: 1.6;
    letter-spacing: 1px;
    margin-top: 1rem;
}